@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    background: linear-gradient(rgba(59,130,246,0.5), rgba(74,125,255,0.5)),
    url("../img/NBA_IMG.jpg") no-repeat center center / cover;
}

.container {
    background-color: rgba(255, 255, 255, 0.85); 
    border-radius: 20px;
    padding: 18px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 500px;
}

#search {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    padding: 6px 12px;
    background: #fff;
}

#search input {
    border: none;
    background-color: transparent;
    font-size: 16px;
    width: 100%;
}

#search input:focus-visible {
    outline: none;
}

#search button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#player-info {
    margin-top: 20px;
    display: none; 
}

#player-info.show {
    display: block;
}

#player-info h1 {
    text-align: center;
    margin-bottom: 15px;
    font-weight: 700;
    color: #372f3f;
    font-size: 22px;
}

#infos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 8px 12px;
    border-radius: 12px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    gap: 10px;
}

.info h2 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 4px;
}

.info p {
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

.info i {
    text-align: center;
    font-size: 20px;
    width: 24px;
    color: #3b82f6;
}

@media (max-width: 480px) {
    #infos {
        grid-template-columns: 1fr;
    }

    .info {
        justify-content: space-between;
    }

    #player-info h1 {
        font-size: 20px;
    }
}
